.wallet {
    width: 100%;
    height: 100%;
    border-radius: 100px;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #308D8A;
    position: absolute;
    top: 75%;
    left: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wallet:hover {
    border-color: #237573;
}

.connect {
    font-size: 15px;
    color: #308D8A;
    font-weight: unset;
}

.connectDiv {
    width: 56%;
    height: 36%;
    position: relative;
}

button {
    white-space: nowrap;
}